@keyframes fade-in {
  from {
    color:$invisiGreen;
  }
  to {
    color:$green;
  }
}

@keyframes bubble-up {
  from {
    top:100%;
  }
  to {
    top:-#{$emoteSize + 20px};
  }
}

@keyframes bounce {
  from {
    height:100%;
  }
  to {
    height:0;
  }
}

@keyframes grow-left {
  from {
    max-width:0;
  }
  to {
    max-width:300px;
  }
}

@keyframes pulse-border {
  0% {
    border-width:1px;
  }
  50% {
    border-width:5px;
  }
  100% {
    border-width:1px;
  }
}

@keyframes pulse-once {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// @keyframes flash-out {
//   from {
//     opacity:1;
//   }
//   to {
//     opacity:0;
//   }
// }