@use "variables";

.remote-admin-display {
  display:none;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 5px;
  .fa {
    color: variables.$yellow;
  }
}

#main-display {
  color:variables.$orange;
  opacity:1;
  transition: color variables.$transTime, transform variables.$transTime, opacity variables.$transTime, font-size variables.$transTime, padding variables.$transTime, border-color variables.$transTime;
  margin:0;
  padding:20px;
  border:2px solid variables.$orange;
  border-radius:10px;
  position:relative;
  &.green {
    color:variables.$green;
    font-size:60px;
    border-color:variables.$green;
    padding:10px 20px;
  }
  &.yellow {
    color:variables.$yellow;
    border-color:variables.$yellow;
  }
  &.red {
    color:variables.$red;
    border-color:variables.$red;
  }
  &.orange {
    color:variables.$orange;
    border-color:variables.$orange;
  }
  &.blue {
    color:variables.$blue;
    border-color:variables.$blue;
  }
  &.hidden {
    transform: translateY(-300px);
  }
  span {
    display:block;
    transition: transform variables.$slowTransTime;
  }
  &:before {
    content:attr(label);
    background-color:variables.$white;
    position:absolute;
    padding:5px;
    top: -17px;
    font-size: 16px;
    left: 10px;
    overflow:hidden;
    max-width:250px;
    white-space: nowrap;
    transition: color variables.$transTime, max-width variables.$transTime, padding variables.$transTime;
  }
  &.change {
    span {
      transform: translateX(100vw);
    }
  }
  &.reset {
    span {
      transition: transform 0;
      transform: translateX(-100vw);
    }
  }
  &.change-label {
    &:before {
      max-width:0;
      color:variables.$white;
    }
  }
  &.remote-admin + .remote-admin-display {
    display:block;
  }
}


#team-display {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow:scroll;
  max-width:380px;
  width:100%;
  .team-button {
    width:100%;
    margin:10px 0;
  } 
  &:not(.active) {
    .team-button {
      background-color:variables.$grey;
      cursor:default;
      opacity:0.5;
    }
  }
}

.input-holder {
  &.hidden {
    display:none;
  }
}


#join-modal {
  &:before {
    background-color:variables.$slightFade;
  }
  .container {
    background: linear-gradient(variables.$fade, variables.$fade), url('../../images/pattern.png');
    color:variables.$white;

    input[type="text"] {
      background-color:transparent;
      border:2px solid variables.$grey;
      text-align:center;
      color:variables.$grey;
      font-weight:bold;
      font-size:30px;
      padding:10px;
      transition: border-color variables.$transTime, color variables.$transTime;
      &::placeholder {
        font-weight:normal;
        text-transform:capitalize;
        transition: color variables.$transTime;
      }
      &:focus {
        border-color:variables.$lightgrey;
        color:variables.$lightgrey;
        &::placeholder {
          color:variables.$lightgrey;
        }
      }
      &:valid {
        border-color:variables.$white;
        color:variables.$white;
      }
      &#meeting-code-input {
        text-transform:uppercase;
      }
    }

    .button {
      background-color:variables.$blue;
    }
  }
}

#button-holder {
  height:110px;
  .button-center {
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    .button {
      float:left;

    }
  }
  &:not(.active) {
    .button-center {
      .button {
        display:none;
      }
    }
  }
}

#emotes-button-holder {
  position:fixed;
  bottom:-100px;
  left:0;
  width:100%;
  transition:bottom variables.$transTime;
  .emote-button {
    padding:15px;
    border-radius:variables.$borderRadius;
    border:2px solid variables.$orange;
    float:left;
    cursor:pointer;
    overflow:hidden;
    transition:border-color variables.$transTime;
    margin-right:20px;
    i.fa {
      color: variables.$orange;
      font-size:30px;
      pointer-events: none;
      transition:color variables.$transTime;
    }
    &:last-of-type {
      margin-right:0;
    }
  }
  &.bounce {
    .emote-button {
      position:relative;
      border-color:variables.$grey;
      cursor:auto;
      &::before {
        content:'';
        animation-name:bounce;
        animation-duration:variables.$debounce;
        animation-timing-function: linear;
        width:100%;
        background-color:variables.$orangefade;
        position:absolute;
        left:0;
        bottom:0;
      }
      i.fa {
        color: variables.$grey;
      }
    }
  }
  &.active {
    bottom:0;
  }
}

#notice-container {
  opacity: 0;
  transition: opacity variables.$transTime;
  position:absolute;
  top:20px;
  left:20px;
  width:calc(100% - 40px);
  height:100%;
  transition: opacity 900ms;
  pointer-events: none;
  #notice {
    pointer-events:none;
    padding:10px;
    color:variables.$white;
    text-align:center;
    font-weight:bold;
    border-radius:10px;
    height:calc(100% - 40px);
    line-height:70px;
    font-size:40px;
  }
  &.show {
    opacity:1;
    transition: opacity 0ms;
  }
  &.red {
    #notice {
      background-color:variables.$red;
    }
  }
  &.green {
    #notice {
      background-color:variables.$green;
    }
  }
}

#ping-container {
  position:fixed;
  bottom:20px;
  left:20px;
  width:20px;
  height:20px;
  transition: color variables.$transTime, opacity variables.$transTime;
  opacity:1;
  i.fa {
    color:variables.$green;
    font-size:20px;
  }
  &.low-ping {
    i.fa {
      color:variables.$red;
    }
  }
  &.no-ping {
    i.fa {
      color:variables.$grey;
    }
  }
  &.hidden {
    opacity:0;
  }
  &.pulse {
    i.fa {
      animation: pulse-once 300ms ease-out;
    }
  }
}