@use "variables";

#emotes-container {
  height:100vh;
  width:100vw;
  top:0;
  left:0;
  position:fixed;
  pointer-events:none;
  overflow:hidden;
  z-index:1000;
  .emote {
    border-radius: 50%;
    height:variables.$emoteSize;
    width:variables.$emoteSize;
    position:fixed;
    background-color:variables.$yellow;
    color:variables.$yellow;
    animation-name:bubble-up;
    // animation-duration:$emoteTime;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    display:inline-block;
    &.green {
      background-color:variables.$green;
      color:variables.$green;
    }
    &.blue {
      background-color:variables.$blue;
      color:variables.$blue;
    }
    &.red {
      background-color:variables.$red;
      color:variables.$red;
    }
    i {
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      font-size:30px;
      color:variables.$white;
    }
    &::after {
      content:attr(data-member);
      position:absolute;
      top: calc(100% + 5px);
      left:50%;
      transform:translateX(-50%);
      font-weight:bold;
      $outlineColour:variables.$white;
      text-shadow: -1px -1px 0 $outlineColour, 1px -1px 0 $outlineColour, -1px 1px 0 $outlineColour, 1px 1px 0 $outlineColour;
    }
  }
}