form {
  
}

.header-button {
  height:60px;
  width:60px;
  border:1px solid white;
  border-radius:5px;
  display:block;
  overflow:hidden;
  position:relative;
  // @include transition(border $transTime);
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align:center;
    @include transition(transform $transTime);
      
    span.fa {
      font-size: 40px;
      line-height:60px;
      @include transition(transform $transTime);
    }
  }

  .corner {
    height:100%;
    width:100%;
    background-color:white;
    display:block;
    transform:rotate(45deg);
    position:absolute;
    @include transition(top $transTime, right $transTime, bottom $transTime, left $transTime);
    &.t {
      bottom:125%;
    }
    &.r {
      left:125%;
    }
    &.b {
      top:125%;
    }
    &.l {
      right:125%;
    }
  }
  &.lock {
    .icon {
      @include transform(translate(-50%, -75%));
    }
  }

  &:hover {
    span.fa {
      transform: rotateZ(180deg);
      // font-size: 40px;
    }
    cursor:pointer;
  }

  &.close {
    span.fa-cog {
      transform: rotateZ(180deg) scale(4);
    }

    $offset: 80%;

    .corner {
      &.t {
        bottom:$offset;
      }
      &.r {
        left:$offset;
      }
      &.b {
        top:$offset;
      }
      &.l {
        right:$offset;
      }
    }
  }
}

label {
  width:100%;
  text-align:center;
  display:block;
  font-weight:bold;
  font-size:30px;
  cursor:pointer;
}

.button {
  background-color:white;
  padding:15px 30px;
  font-size:20px;
  border:none;
  border-radius:5px;
  text-align:center;
  margin:20px auto;
  display:block;
  cursor:pointer;
  transition: opacity $transTime;
  &.hidden {
    display:none;
  }
  &.disabled { 
    opacity:0;
    cursor:default;
  }
  &.symbol {
    #{$symbolOutline}:2px;
    #{$symbolScale}:1.1;

    background-color:transparent;
    font-size:60px;
    width:100px;
    position:relative;
    span {
      position:absolute;
      top:50%;
      left:50%;
      @include transition(transform $transTime, color $transTime);
      
      color:$blue;
      &.pos-main {
        color:$white;
        @include transform(translate(-50%,-50%) scale(1));
      }
      &.pos-topright {
        @include transform(translate(calc(-50% + #{$symbolOutline}), calc(-50% - #{$symbolOutline})) scale(1));
      }
      &.pos-topleft {
        @include transform(translate(calc(-50% - #{$symbolOutline}), calc(-50% - #{$symbolOutline})) scale(1));
      }
      &.pos-bottomright {
        @include transform(translate(calc(-50% + #{$symbolOutline}), calc(-50% + #{$symbolOutline})) scale(1));
      }
      &.pos-bottomleft {
        @include transform(translate(calc(-50% - #{$symbolOutline}), calc(-50% + #{$symbolOutline})) scale(1));
      }
      
    }
    &:hover {
      span {
        &.pos-main {
          @include transform(translate(-50%,-50%) scale(#{$symbolScale}));
          color:$yellow;
        }
        &.pos-topright {
          @include transform(translate(calc(-50% + #{$symbolOutline}),calc(-50% - #{$symbolOutline})) scale(#{$symbolScale}));
        }
        &.pos-topleft {
          @include transform(translate(calc(-50% - #{$symbolOutline}),calc(-50% - #{$symbolOutline})) scale(#{$symbolScale}));
        }
        &.pos-bottomright {
          @include transform(translate(calc(-50% + #{$symbolOutline}),calc(-50% + #{$symbolOutline})) scale(#{$symbolScale}));
        }
        &.pos-bottomleft {
          @include transform(translate(calc(-50% - #{$symbolOutline}),calc(-50% + #{$symbolOutline})) scale(#{$symbolScale}));
        }
      }
    }
  }
}

.select-strip {
  margin: 0 auto;
  height:70px;
  text-align: center;
  label {
    padding:5px;
    display:inline-block;
    width:70px;
    height:70px;
    font-weight:normal;
    @include transition(font-size $transTime, font-weight $transTime, transform $transTime);
    text-align:center;
    line-height:70px;
    &.extra {
      width:140px;
    }
  }
  &#team-members {
    label {
      width:auto;
    }
  }
  input[type="radio"] {
    display:none;
    &:checked+label {
      @include transform(scale(1.5));
    }
  }
  input[type="checkbox"] {
    display:none;
    +label {
      padding:5px;
      font-size:16px;
      background-color:$orange;
      opacity:0.5; 
      border-radius:5px;
      line-height:16px;
      height:30px;
      margin:5px;
      transition: opacity $transTime;
    }
    &:checked+label {
      opacity:1;
    }
  }
}

.selection-button {
  background-color:$blue;
  display:inline-block;
  margin:0 auto;
  padding:5px 15px;
  border-radius:5px;
  color:$orange;
  margin:5px;
  cursor:pointer;
  &.hidden {
    display:none;
  }
}

#mute-input {
  display:none;
  &:checked+.icon {
    @include transform(translate(-50%, -75%));
  }
}

input[type="text"] {
  margin-top:20px;
  border-radius:5px;
  padding:15px;
  color:$orange;
  border:1px solid $green;
  min-width:300px;
}

#team-name-input {
  margin: 0 0 20px 0;
  font-size:20px;
  font-weight:bold;
  color:$green;
}

.edit-team-member {
  color:$green;
  font-weight:bold;
  margin-bottom:5px;
  .fa {
    background-color:$red;
    border-radius:50%;
    color:$white;
    margin-right:10px;
    padding: 2px 3px;
    // width: 20px;
    text-align: center;
    cursor:pointer;
  }
}