@use "variables";

.header-button {
  height:60px;
  width:60px;
  border:1px solid white;
  border-radius:variables.$borderRadius;
  display:block;
  overflow:hidden;
  position:relative;
  float:left;
  margin-right: 10px;
  transition: opacity variables.$transTime;
  &.pulse {
    animation: pulse-border 300ms ease-out;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align:center;
    transition: transform variables.$transTime;
      
    i.fa {
      font-size:40px;
      line-height:60px;
      transition: transform variables.$transTime;
      position: relative;
      &.slash {
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          height: 100%;
          width: 6px;
          border-radius: 3px;
          background-color: variables.$white;
        }
      }
    }
  }

  .corner {
    height:100%;
    width:100%;
    background-color:white;
    display:block;
    transform:rotate(45deg);
    position:absolute;
    transition: top variables.$transTime, right variables.$transTime, bottom variables.$transTime, left variables.$transTime;
    &.t {
      bottom:125%;
    }
    &.r {
      left:125%;
    }
    &.b {
      top:125%;
    }
    &.l {
      right:125%;
    }
  }
  &.lock {
    .icon {
      transform: translate(-50%, -75%);
    }
  }

  &:hover {
    i.fa {
      transform: rotateZ(180deg);
    }
    cursor:pointer;
  }

  &.close {
    i.fa-gear {
      transform: rotateZ(180deg) scale(4);
    }

    $offset: 80%;

    .corner {
      &.t {
        bottom:$offset;
      }
      &.r {
        left:$offset;
      }
      &.b {
        top:$offset;
      }
      &.l {
        right:$offset;
      }
    }
  }
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

label {
  width:100%;
  text-align:center;
  display:block;
  font-weight:bold;
  font-size:30px;
  &:not(.heading) {
    cursor:pointer;
  }
}

.button {
  background-color:white;
  padding:15px 30px;
  font-size:20px;
  border:none;
  border-radius:variables.$borderRadius;
  text-align:center;
  margin:20px auto;
  display:block;
  cursor:pointer;
  transition: opacity variables.$transTime;
  &.hidden {
    display:none;
  }
  &.disabled { 
    opacity:0;
    cursor:default;
  }
  &.symbol {
    background-color:transparent;
    font-size:60px;
    width:100px;
    position:relative;
    i {
      position:absolute;
      top:50%;
      left:50%;
      transition: transform variables.$transTime, color variables.$transTime;
      
      color:variables.$white;
      &.pos-main {
        transform: translate(-50%,-50%) scale(1);
        text-shadow:
          0 -#{variables.$symbolOutline} 0 variables.$blue,  
          #{variables.$symbolOutline} 0 0 variables.$blue,
          0 #{variables.$symbolOutline} 0 variables.$blue,
          -#{variables.$symbolOutline} 0 0 variables.$blue,
          -#{variables.$symbolOutline} -#{variables.$symbolOutline} 0 variables.$blue,  
          #{variables.$symbolOutline} -#{variables.$symbolOutline} 0 variables.$blue,
          -#{variables.$symbolOutline} #{variables.$symbolOutline} 0 variables.$blue,
          #{variables.$symbolOutline} #{variables.$symbolOutline} 0 variables.$blue;
      }
    }
    &:hover {
      i {
        &.pos-main {
          transform: translate(-50%,-50%) scale(#{variables.$symbolScale});
          color:variables.$yellow;
        }
      }
    }
  }
}

.save-load-section {
  text-align:center;
  .selection-button {
    &.disabled {
      opacity:.5;
    }
  }
}

.select-strip {
  margin: 0 auto 50px;
  text-align: center;
  label {
    padding:5px;
    display:inline-block;
    width:auto;
    height:70px;
    font-weight:normal;
    transition: font-size variables.$transTime, font-weight variables.$transTime, transform variables.$transTime;
    text-align:center;
    line-height:70px;
    position:relative;
    &.lock-width {
      width:70px;
    }
    &.extra {
      width:140px;
    }
  }

  &#team-members,
  &#options {
    label {
      width:auto;
    }
  }
  input[type="radio"] {
    display:none;
    &:checked+label {
      transform: scale(1.5);
    }
  }
  input[type="checkbox"] {
    display:none;
    +label {
      padding:5px 10px;
      font-size:16px;
      background-color:variables.$orange;
      opacity:0.5; 
      border-radius:variables.$borderRadius;
      line-height:20px;
      height:30px;
      margin:5px;
      transition: opacity variables.$transTime;
    }
    &.option-checkbox {
      &+label {
        background-color:variables.$red;
        opacity:1;
      }
      &:checked+label {
        background-color:variables.$green;
      }
    }
    &:checked+label {
      opacity:1;
    }
  }

  input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width:calc(100% - 100px);
    border-radius:6px;
    overflow:hidden;
    background-color:transparent;
  
    &:focus {
      outline: none;
    }
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 15px;
      cursor: pointer;
      background: variables.$barColour;
      border-radius: 7.5px;
    }
    &::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      border-radius:50%;
      
      background: variables.$thumbColour;
      cursor: pointer;
      -webkit-appearance: none;
      // margin-top: -9px;
      box-shadow: -(variables.$maxWidth) 0 0 calc(#{variables.$maxWidth} - 7.5px) variables.$fillColour;
    }
    &:focus::-webkit-slider-runnable-track {
      background: variables.$barColour;
    }
    &::-moz-range-track {
      width: 100%;
      height: 15px;
      cursor: pointer;
      background: variables.$barColour;
      border-radius: 7.5px;
    }
    &::-moz-range-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: variables.$thumbColour;
      cursor: pointer;
    }
    &::-ms-track {
      width: 100%;
      height: 15px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }
    &::-ms-fill-lower {
      background: variables.$barColour;
      border-radius: 2.6px;
    }
    &::-ms-fill-upper {
      background: variables.$barColour;
      border-radius: 2.6px;
    }
    &::-ms-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: variables.$thumbColour;
      cursor: pointer;
    }
    &:focus::-ms-fill-lower {
      background: variables.$barColour;
    }
    &:focus::-ms-fill-upper {
      background: variables.$barColour;
    }
  }
}

.selection-button {
  background-color:variables.$blue;
  display:inline-block;
  margin:0 auto;
  padding:5px 15px;
  border-radius:variables.$borderRadius;
  color:variables.$orange;
  margin:5px;
  cursor:pointer;
  &.hidden {
    display:none;
  }
  &.superhidden {
    display:none;
  }
}

.members-count {
  background-color: variables.$white;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  color: variables.$blue;
  position: absolute;
  right: 20px;
  bottom:0;
  transform: translateY(50%);
  transition: all variables.$transTime;
  font-weight: bold;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.edit-button {
  background-color:transparent;
  display:inline-block;
  margin:0 auto;
  padding:5px 15px;
  border-radius:5px;
  color:variables.$white;
  margin:5px;
  cursor:pointer;
}

#mute-input, #ping-input {
  display:none;
  &:checked+.icon {
    transform: translate(-50%, -75%); 
  }
}

input[type="text"] {
  margin-top:20px;
  border-radius:variables.$borderRadius;
  padding:15px;
  color:variables.$orange;
  border:1px solid variables.$green;
  min-width:300px;
}

#meeting-name-input {
  margin: 0 0 20px 0;
  font-size:20px;
  font-weight:bold;
  color:variables.$green;
}

.edit-team-member {
  color:variables.$green;
  font-weight:bold;
  margin-bottom:5px;
}

#duration-display {
 font-size:30px;
 span {
  color:variables.$yellow;
 }
}

.remove {
  background-color:variables.$red;
  border-radius:50%;
  color:variables.$white;
  margin-right:10px;
  padding: 2px 3px;
  text-align: center;
  cursor:pointer;
  transition: transform variables.$transTime;
  &:hover {
    transform: rotate3d(0, 0, 1, 180deg);
  }
}

#save-settings-button {
  background-color:variables.$orange;
  color:variables.$white;
}

.tab-holder {
  .tab-buttons {
    .tab-button {
      float:left;
      padding:5px;
      background-color:variables.$blue;
      color:variables.$orange;
      border-radius:variables.$borderRadius;
      cursor: pointer;
      width:40px;
      text-align:center;
    }
  }
  .tab {
    &.hidden {
      display:none;
    }
  }
}

.meeting-code {
  padding:10px;
  font-weight:bold;
  color:variables.$white;
  position:absolute;
  left:10px;
  // top:-5px;
  height:100%;
  width:variables.$qrCornerSize;
  overflow: hidden;
  opacity:1;
  top: 50%;
  transform: translateY(-27px);
  transition: all variables.$transTime;
  &:empty {
    opacity:0;
    pointer-events: none;
  }
  .copy-code {
    font-size:30px;
    color:variables.$blue;
    transition: all variables.$transTime;
  }
  i {
    margin-left:10px;
    cursor: pointer;
    &:hover {
      color:variables.$orange;
    }
  }
  &#qr-meeting-code {
    top:5px;
    left:15px;
    color:variables.$blue;
    font-size:30px;
    height:auto;
    transform: none;
  }
  .qr-code-button {
    height:variables.$qrCornerSize;
    width:variables.$qrCornerSize;
    display:block;
    position:absolute;
    top:52px; // Not too happy with this
    left:0;
    border:2px solid variables.$blue;
    opacity:0;
    cursor:pointer;
    transition: all variables.$transTime;
    &:hover {
      border-color:variables.$orange;
    }
  }
}

#register-display {
  margin-top:20px;
  border:2px solid variables.$grey;
  border-radius:10px;
  padding:20px 20px 20px (variables.$qrCornerSize + (variables.$qrCornerBorder * 2) + 20px);
  transition: all variables.$slowTransTime;
  &::before {
    content: '';
    background-color: variables.$grey;
    display: block;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    margin: -22px -#{variables.$qrCornerSize + (variables.$qrCornerBorder * 2) + 22};
    height: 100%;
    position: absolute;
    max-width:1210px;
    transition: all variables.$slowTransTime;
    color:variables.$grey;
    overflow:hidden;
    font-weight: bold;
    font-size:25px;
    line-height:44px;
    text-indent:-100%;
    // background-repeat:no-repeat;
    // background-size:$qrCornerSize;
    // background-position:#{$qrCornerBorder} calc(40px + #{$qrCornerBorder});
  }
  
  &:not(.connected){
    &~#close-registration {
    display:none;
    }
  }
  &.connected {
    border-color:variables.$white;
    min-height:44px;
    &.open{
      border-color:variables.$blue;
      min-height:(40px + variables.$qrCornerSize + (variables.$qrCornerBorder * 2));
      transition-delay: variables.$slowTransTime;
      background-color: variables.$bluefade;
      &::before {
        background-color:variables.$blue;
        max-width:#{variables.$qrCornerSize + (variables.$qrCornerBorder * 2)};
        transition-delay: 0ms;
      }
      &~.meeting-code {
        top:0;
        transition-delay: variables.$slowTransTime;
        transform:translateY(0);
        .copy-code {
          color:variables.$white;
          &:hover {
            color:variables.$orange;
            cursor:pointer;
          }
        }
        .qr-code-button {
          opacity:1;
          transition-delay: variables.$slowTransTime;
        }
      }
      &~.members-count {
        background-color: variables.$blue;
        color: variables.$orange;
      }
    }
    &::before {
      content:'Connected';
      background-color: variables.$white;
      max-width:120px;
      border-radius: 10px 0 0 10px;
      text-indent:100%;
      transition-delay: variables.$slowTransTime;
    }
  }

  &.connecting {
    &::before {
      content: 'Connecting...';
      color:variables.$white;
      text-indent:0;
    }
  }
}

.register-lozenge {
  background-color:variables.$orange;
  display:inline-block;
  padding:5px 15px;
  border-radius:5px;
  color:variables.$white;
  margin:5px;
  &.hidden {
    display:none;
  }
  .remote-admin-select {
    color:variables.$grey;
    margin-left:10px;
    cursor:pointer;
    transition: transform variables.$transTime, color variables.$transTime, max-width variables.$transTime, margin-left variables.$transTime;
    max-width:100px;
    overflow:hidden;
    &:hover {
      transform: scale(1.1);
    }
    &.hidden:not(.selected) {
      margin-left:0;
      max-width:0;

    }
    &.selected {
      color:variables.$yellow;
    }
  }
}

.register-holder {
  position:relative;
  .selection-button {
    position:absolute;
    right:10px;
    top:50%;
    color:variables.$white;
    transform:translateY(-50%);
    margin:0;
    &#close-registration {
      background-color:variables.$red;
    }
  }
}

#use-register {
  position:absolute;
  right:20px;
}

// #qr-corner {
//   position:fixed;
//   top: calc(100% - #{$qrCornerSize + $qrCornerBorder});
//   left:$qrCornerBorder;
//   height:$qrCornerSize;
//   width:$qrCornerSize;
//   transition: top $transTime;
//   &.hidden {
//     top:100%;
//   }
// }