$colour: $red;

body {
  margin:0;
  -webkit-user-select: none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select: none;
}
* {
  box-sizing:border-box;
  font-family: "Roboto";
  &:focus {
    outline: none;
  }
}

header {
  background: linear-gradient($fade, $fade), url('../../images/pattern.png');
  color:$white;
  overflow:hidden;
  position:relative;
}

.container {
  margin:0 auto;
  max-width: $maxWidth;
  padding: 20px;
  position:relative;
  .left, .right {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    font-weight:bold;
    font-size:40px;
    span {
      vertical-align: top;
      font-weight: normal; 
      font-size:20px;
    }
  }
  .left {
      left:20px;
  }
  .right {
    right:20px;
  }

  &.collapser {
    overflow:hidden;
    transition: max-height $transTime, padding $transTime;
    max-height:700px;
    &.closed {
      max-height:0vh;
      padding:0 20px;
    }
  }

  &.pad {
    margin-top:100px;
  }
}

.modal {
  position:fixed;
  left:50%;
  top:50%;
  min-width:340px;
  z-index: 20;
  
  .container {
    background-color:$white; 
    h2 {
      text-align:center;
      margin-top:0;
    }
    .modal-close,
    .modal-button {
      font-size:25px;
      cursor:pointer;
      @include transition(color $transTime, transform $transTime);
      &:hover {
        color:$red;
        @include transform(rotate3d(0, 0, 1, 180deg));
      }
    }
    .modal-close {
      position:absolute;
      top:10px;
      right:10px;
    }
  }

  @include transform(translate(-50%,-50%));
  &.hidden {
    display:none;
  }

  
  &:before {
    content:'';
    position:absolute;
    width:100vw;
    height:100vh;
    background-color: $fade;
    left:50%;
    top:50%;

    @include transform(translate(-50%,-50%));
  }
}

h1 {
  text-align:center;
  font-size:40px;
}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

#end-screen {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  background-color: $white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  top: $timerSize + 20px;
  &.hidden {
    display: none;
  }
  #end-time,
  #avg-time {
    font-weight:bold;
  }
  &.green {
    color:$green;
  }
  &.orange {
    color:$orange;
  }
}
#pep-talk-modal {
  #pep-talk-container {
    background-color: $white;
    position:fixed;
    height:200px;
    width:800px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border:4px solid $orange;
    border-radius:15px;
    transition: border-color $transTime;

    &.hidden {
      display:none;
    }

    #pep-display {
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
      color:$orange;
      font-size:100px;
      font-weight:bold;
      // width:100%;
      text-align:center;
      white-space: nowrap;
      &:empty {
        display:none;
      }
    }

    #vote-count {
      position:absolute;
      left:50%;
      bottom:0;
      transform:translate(-50%, 50%);
      color:$orange;
      font-size:40px;
      font-weight:bold;
      text-align:center;
      background-color:$white;
      border-radius:15px;
      border:3px solid $orange;
      padding:5px 10px;
      max-width:220px;
      min-width:220px;
      width:auto;
      transition: max-width $transTime, min-width $transTime , border-color $transTime;
      &:empty {
        display:none;
      }
      &.green {
        // color:$green;
        color:$invisiGreen;
        animation-name:fade-in;
        animation-duration: $transTime;
        animation-delay: $transTime;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        max-width:510px;
        min-width:50px;
        border-color:$green;
        
      }
      span {
        margin:0 20px
      }

      #close-vote-button {
        background-color:$red;
        color:$white;
        display: inline-block;
        transform: translateY(-5px);
        padding: 10px;
        margin:0;
        i {
          pointer-events:none;
          &:before {
            pointer-events:none;
          }
        }
      }

    }

    #pep-talk-modal-close,
    #pep-talk-respin {
      position: absolute;
      right:10px;
      cursor:pointer;
      display:none;
    }

    #pep-talk-modal-close {
      top:10px;
    }

    #pep-talk-respin {
      bottom: 10px;
    }
  }
  &.green {
    #pep-talk-container {
      border-color: $green;
      #pep-display {
        color: $green;
      }
      #pep-talk-modal-close,
      #pep-talk-respin {
        display:block;
      }
    }
    
  }
}

#name-wheel {
  width: $nameWheelSize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: $nameWheelSize;
  transition-property:transform;
  transition-timing-function: linear;

  .letter {
    height:100%;
    font-weight:bold;
    position:absolute;
    top:0;
    left:50%;
    font-size:60px;
    color:$green;

  
    $spread:8;
    $rot:8;
    @for $i from -$spread through $spread {
      &#even#{$i} {
        transform:translateX(-50%) rotate3d(0,0,1, #{180 + (($i * $rot) + ($rot / 2))}deg);
      }
      &#odd#{$i} {
        transform:translateX(-50%) rotate3d(0,0,1, #{180 + ($i * $rot)}deg);
      }
    }
  }

  &.stage-0,
  &.stage-1 {
    transition-duration: 250ms !important;
  }

  &.stage-0 {
    // transform:translate(-50%, -50%) rotate3d(0,0,1, 360deg);
  }
  &.stage-1 {
    // transform:translate(-50%, -50%) rotate3d(0,0,1, 120deg);
  }
  &.stage-2 {
    // transform:translate(-50%, -50%) rotate3d(0,0,1, 240deg); 
  }

  
}

#name-obscurer {
  position:absolute;
  height:$nameWheelSize;
  width:$nameWheelSize;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border: $nameWheelSize / 2 solid transparent;
  border-bottom-color: $white;
}

#flash-message-holder {
  position:fixed;
  left:50%;
  bottom:10px;
  @include transform(translateX(-50%));
  max-width:$maxWidth;
  width:calc(100% - 40px);

  .flash-message {
    color: $white;
    border-radius:10px;
    padding:20px;
    display:block;
    width:100%;
    margin-bottom:20px;
    
    box-shadow: 0px 5px 8px $shadow;
    pointer-events: none;
    opacity:1;
    @include transition(opacity $transTime);
    span {
      display:none;
      color: $white;
      float:left;
      margin-right:20px;
    }
    &.success {
      background-color: $green;
      #icon-success {
        display:block;
      }
    }
    &.notice {
      background-color: $yellow;
      #icon-notice {
        display:block;
      }
    }
    &.error {
      background-color: $red;
      #icon-error {
        display:block;
      }
    }
    &.hidden {
      opacity:0;
    }
    &::after {
      content:attr(message);
      font-weight:bold;
    }
  }
}

.tooltip {
  &[data-info] {
    &::after {
      content:attr(data-info);
      background-color: $fade;
      position: absolute;
      padding: 5px;
      border-radius:3px;
      top: 100%;
      right:100%;
      width: auto;
      min-width: 200px;
      opacity:0;
      pointer-events: none;
      @include transition(opacity $transTime);
      font-size:12px;
      z-index:100;
      &:empty {
        display:none;
      }
    }
    &:hover {
      &::after {
        @include transition-delay(1000ms);
        opacity:1;
      }
    }
  }
}
#version {
  position: fixed;
  bottom:20px;
  right:20px;
  color:$lightgrey;
  font:12px;
}