$colour: $red;

body {
  margin:0;
}
* {
  box-sizing:border-box;
  font-family: "Roboto";
}

header {
  background:url('../../images/pattern.png');
  color:$white;
  overflow:hidden;
  position:relative;

  &::before {
    content:'';
    background-color:$fade;
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
  }
}

.container {
  margin:0 auto;
  max-width: $maxWidth;
  padding: 20px;
  position:relative;
  .left, .right {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    font-weight:bold;
    font-size:40px;
    span {
      vertical-align: top;
      font-weight: normal; 
      font-size:20px;
    }
  }
  .left {
      left:20px;
  }
  .right {
    right:20px;
  }

  &.collapser {
    overflow:hidden;
    transition: max-height $transTime, padding $transTime;
    max-height:700px;
    &.closed {
      max-height:0vh;
      padding:0 20px;
    }
  }

  &.pad {
    margin-top:100px;
  }
}

.modal {
  position:fixed;
  left:50%;
  top:50%;
  min-width:340px;
  
  .container {
    background-color:$white; 
    h2 {
      text-align:center;
      margin-top:0;
    }
    .fa-times {
      position:absolute;
      top:10px;
      right:10px;
      font-size:25px;
      cursor:pointer;
      @include transition(color $transTime, transform $transTime);
      &:hover {
        color:$red;
        @include transform(rotate3d(0, 0, 1, 180deg));
      }
    }
  }

  @include transform(translate(-50%,-50%));
  &.hidden {
    display:none;
  }

  
  &:before {
    content:'';
    position:absolute;
    width:100vw;
    height:100vh;
    background-color: $fade;
    left:50%;
    top:50%;

    @include transform(translate(-50%,-50%));
  }
}

h1 {
  text-align:center;
  font-size:40px;
}

.clear-fix:after {
  content: "";
  display: table;
  clear: both;
}

#end-screen {
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  background-color: $white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  top: $timerSize + 30px;
  &.hidden {
    display: none;
  }
  #end-time,
  #avg-time {
    font-weight:bold;
  }
  &.green {
    color:$green;
  }
  &.orange {
    color:$orange;
  }
}

#pep-display {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
  color:$orange;
  background-color:$white;
  font-size:100px;
  font-weight:bold;
  width:100%;
  text-align:center;
  &:empty {
    display:none;
  }
  &.green {
    color:$green;
  }
}

#name-wheel {
  width: $nameWheelSize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: $nameWheelSize;
  transition-property:transform;
  transition-timing-function: linear;

  .letter {
    height:100%;
    font-weight:bold;
    position:absolute;
    top:0;
    left:50%;
    font-size:60px;
    color:$green;

  
    $spread:8;
    $rot:8;
    @for $i from -$spread through $spread {
      &#even#{$i} {
        transform:translateX(-50%) rotate3d(0,0,1, #{180 + (($i * $rot) + ($rot / 2))}deg);
      }
      &#odd#{$i} {
        transform:translateX(-50%) rotate3d(0,0,1, #{180 + ($i * $rot)}deg);
      }
    }
  }

  &.stage-0,
  &.stage-1 {
    transition-duration: 250ms !important;
  }

  &.stage-0 {
    // transform:translate(-50%, -50%) rotate3d(0,0,1, 360deg);
  }
  &.stage-1 {
    // transform:translate(-50%, -50%) rotate3d(0,0,1, 120deg);
  }
  &.stage-2 {
    // transform:translate(-50%, -50%) rotate3d(0,0,1, 240deg); 
  }

  
}

#name-obscurer {
  position:absolute;
  height:$nameWheelSize;
  width:$nameWheelSize;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  border: $nameWheelSize / 2 solid transparent;
  border-bottom-color: $white;
}

#flash-message-holder {
  position:fixed;
  left:50%;
  bottom:10px;
  @include transform(translateX(-50%));
  max-width:$maxWidth;
  width:calc(100% - 40px);

  .flash-message {
    color: $white;
    border-radius:10px;
    padding:20px;
    display:block;
    width:100%;
    margin-bottom:20px;
    
    box-shadow: 0px 5px 8px $shadow;
    pointer-events: none;
    opacity:1;
    @include transition(opacity $transTime);
    span {
      display:none;
      color: $white;
      float:left;
      margin-right:20px;
    }
    &.success {
      background-color: $green;
      #icon-success {
        display:block;
      }
    }
    &.notice {
      background-color: $yellow;
      #icon-notice {
        display:block;
      }
    }
    &.error {
      background-color: $red;
      #icon-error {
        display:block;
      }
    }
    &.hidden {
      opacity:0;
    }
    &::after {
      content:attr(message);
      font-weight:bold;
    }
  }
}