.timer {
  border-radius: 50%;
  width: $timerSize;
  height: $timerSize;;
  background-color:$white;
  margin:0 auto;
  position:relative;

  .hand-holder {
    overflow:hidden;
    width: $timerSize / 2;
    height: $timerSize;
    position:absolute;
    top:0;
    left:0;
    border-top-left-radius:$timerSize / 2;
    border-bottom-left-radius:$timerSize / 2;
    .hand {
      background-color:$orange;
      display:block;
      width: $timerSize / 2;
      height: $timerSize;
      transform-origin: right center;
    }
    
    &.right {
      top:50%;
      left:50%;
      border-radius:0;
      border-top-right-radius:$timerSize / 2;
      border-bottom-right-radius:$timerSize / 2;
      .hand {
        transform-origin: left center;
      }
    }
  }

  .hand {
    &.fade {
      opacity:.5;
    }
  }

  .timer-display {
    position:absolute;
    top:100%;
    left:50%;
    font-weight:bold;
    color:$darkblue;
    font-size:50px;
    @include transform(translateX(-50%));
    &.red {
      color:$orange !important;
    }
    &.green {
      color:$green !important;
    }  
  }

  #start-button,
  #pause-button,
  #end-button,
  #next-button,
  #pep-button,
  #reset-button {
    color:$orange;
    position:absolute;
    left:50%;
    top:75%;
    @include transform(translate(-50%,-50%));
    @include transition(transform $transTime);
  }

  #reset-button {
    color:$grey;
    background-color:$red;
  }

  #pep-button {
    background-color:$orange;
    color:$white;
    &.spinning {
      display:none;
    }
  }

  &:not(.pause) {
    #pause-button {
      &:not(.paused) {
        display:none;
      }
    }
  }

  &.pause {
    #end-button,
    #next-button {
      @include transform(translate(0%, -50%));
    }
    &.end {
      #pause-button { 
        @include transform(translate(-100%, -50%));
      }
    }
  }

  &:not(.skip) {
    #next-button {
      display:none;
    }
  }

  &:not(.pep) {
    #pep-button {
      display:none;
    }
  }

  &.skip {
    #pause-button {
      @include transform(translate(-100%, -50%));
      &.paused {
        @include transform(translate(-50%, -50%));
      }
    }
  }

  .backing {
    height:$subTimerSize + 20px;
    width:$subTimerSize + 20px;
    position:absolute;
    top:50%;
    left:50%;
    @include transform(translate(-50%,-50%));
    background-color:$white;
    border-radius:50%;
  }
  &#sub-timer {
    height:$subTimerSize;
    width:$subTimerSize;
    position:absolute;
    top:50%;
    left:50%;
    @include transform(translate(-50%,-50%));
  
    .hand-holder {
      width: $subTimerSize / 2;
      height: $subTimerSize;
      .hand {
        width: $subTimerSize / 2;
        height: $subTimerSize;
        background-color: $blue;
      }
    }
    .timer-display {
      position:absolute;
      top:50%;
      left:50%;
      font-weight:bold;
      color:$yellow;
      font-size:130px;
      @include transform(translate(-50%,-50%));
    }
  }
}

#team-remaining {
  position:absolute;
  left:50%;
  top:30%;
  @include transform(translate(-50%,-50%));
  font-size:40px;
  color:$yellow;
}

.active-team-list {
  position:absolute;

  .team-button {
    margin:10px;
    padding:5px 15px;
    border-radius:5px;
    background-color: $blue;
    text-align:center;
    font-size:30px;
    color:$white;
    cursor:pointer;
    transition: color $transTime, background-color $transTime, text-decoration $transTime;
    position:relative;
    &::before {
      content:'';
      width:0;
      height:3px;
      background-color:$white;
      display:block;
      position:absolute;
      top:50%;
      left:15px;
      transition:background-color $transTime, width $transTime;
    }
    &.active {
      background-color:$orange;
      color:$white;
    }
    &.done {
      // text-decoration:line-through;
      color:$orange; 
      &::before {
        width:calc(100% - 30px);
        background-color:$orange;
      }
      &::after {
        content:attr(data-time);
        left: calc(100% + 5px);
        position:absolute;
      }
      &.time-red {
        background-color:$red;
        color:$white;
        text-decoration:none;
        &::before {
          background-color:$white;
        }
        &::after {
          color:$red;
        }
      }
      &.time-green {
        background-color:$green !important;
        color:$white;
        text-decoration:none;
        &::before {
          background-color:$white;
        }
        &::after {
          color:$green !important;
        }
      }
      &.highlight {
        background-color:$yellow !important;
        color:$black !important;
        &::before {
          opacity:0;
        }
      }
    }
  }

  &#left-list {
    left:0;
  }

  &#right-list {
    left:initial;
    right:0;
    .team-button {
      &::after {
        left:initial;
        right: calc(100% + 5px);
      }
    }
  }
}