$black:#000;
$white:#fff;
$red:#650D1B;
$green:#0F6B05;//#87B37A;
$blue:#335fa3;
$darkblue:#28345f;
$orange:#d9643e;
$yellow:#e9a351;
$fade:#000000CC;
$slightFade:#00000055;
$grey:#888;
$lightgrey:#bbb;

$shadow:#00000088;

$orangefade:#d9643e88;
$invisiGreen:#0F6B0500;

$maxWidth: 1080px;
$nameWheelSize:660px;
$timerSize:500px;
$subTimerSize:350px;

$symbolOutline:2px;
$symbolScale:1.1;

$transTime:300ms;
$slowTransTime:500ms;

$barColour:$orangefade;
$thumbColour:$blue;
$fillColour:$orange;

$borderRadius:10px;

$emoteSize:60px;
$emoteTime:4000ms;

$debounce:5000ms