$black:#000;
$white:#fff;
$red:#650D1B;
$green:#0F6B05;//#87B37A;
$blue:#335fa3;
$darkblue:#28345f;
$orange:#d9643e;
$yellow:#e9a351;
$fade:#00000088;
$nameWheelSize:660px;
$timerSize:500px;
$subTimerSize:350px;

$transTime:300ms;

