body {
  margin: 0; }

* {
  box-sizing: border-box;
  font-family: "Roboto"; }
  *:focus {
    outline: none; }

header {
  background: linear-gradient(#000000CC, #000000CC), url("../../images/pattern.png");
  color: #fff;
  overflow: hidden;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 20px;
  position: relative; }
  .container .left, .container .right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 40px; }
    .container .left span, .container .right span {
      vertical-align: top;
      font-weight: normal;
      font-size: 20px; }
  .container .left {
    left: 20px; }
  .container .right {
    right: 20px; }
  .container.collapser {
    overflow: hidden;
    transition: max-height 300ms, padding 300ms;
    max-height: 700px; }
    .container.collapser.closed {
      max-height: 0vh;
      padding: 0 20px; }
  .container.pad {
    margin-top: 100px; }

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  min-width: 340px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .modal .container {
    background-color: #fff; }
    .modal .container h2 {
      text-align: center;
      margin-top: 0; }
    .modal .container .fa-times {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 25px;
      cursor: pointer;
      -webkit-transition: color 300ms, -webkit-transform 300ms;
      -moz-transition: color 300ms, -moz-transform 300ms;
      -o-transition: color 300ms, -o-transform 300ms;
      transition: color 300ms, transform 300ms; }
      .modal .container .fa-times:hover {
        color: #650D1B;
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        -moz-transform: rotate3d(0, 0, 1, 180deg);
        -ms-transform: rotate3d(0, 0, 1, 180deg);
        -o-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg); }
  .modal.hidden {
    display: none; }
  .modal:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000000CC;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

h1 {
  text-align: center;
  font-size: 40px; }

.clear-fix:after {
  content: "";
  display: table;
  clear: both; }

#end-screen {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  top: 530px; }
  #end-screen.hidden {
    display: none; }
  #end-screen #end-time,
  #end-screen #avg-time {
    font-weight: bold; }
  #end-screen.green {
    color: #0F6B05; }
  #end-screen.orange {
    color: #d9643e; }

#pep-display {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #d9643e;
  background-color: #fff;
  font-size: 100px;
  font-weight: bold;
  width: 100%;
  text-align: center; }
  #pep-display:empty {
    display: none; }
  #pep-display.green {
    color: #0F6B05; }

#name-wheel {
  width: 660px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 660px;
  transition-property: transform;
  transition-timing-function: linear; }
  #name-wheel .letter {
    height: 100%;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 60px;
    color: #0F6B05; }
    #name-wheel .letter#even-8 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 120deg); }
    #name-wheel .letter#odd-8 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 116deg); }
    #name-wheel .letter#even-7 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 128deg); }
    #name-wheel .letter#odd-7 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 124deg); }
    #name-wheel .letter#even-6 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 136deg); }
    #name-wheel .letter#odd-6 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 132deg); }
    #name-wheel .letter#even-5 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 144deg); }
    #name-wheel .letter#odd-5 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 140deg); }
    #name-wheel .letter#even-4 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 152deg); }
    #name-wheel .letter#odd-4 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 148deg); }
    #name-wheel .letter#even-3 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 160deg); }
    #name-wheel .letter#odd-3 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 156deg); }
    #name-wheel .letter#even-2 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 168deg); }
    #name-wheel .letter#odd-2 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 164deg); }
    #name-wheel .letter#even-1 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 176deg); }
    #name-wheel .letter#odd-1 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 172deg); }
    #name-wheel .letter#even0 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 184deg); }
    #name-wheel .letter#odd0 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 180deg); }
    #name-wheel .letter#even1 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 192deg); }
    #name-wheel .letter#odd1 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 188deg); }
    #name-wheel .letter#even2 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 200deg); }
    #name-wheel .letter#odd2 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 196deg); }
    #name-wheel .letter#even3 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 208deg); }
    #name-wheel .letter#odd3 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 204deg); }
    #name-wheel .letter#even4 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 216deg); }
    #name-wheel .letter#odd4 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 212deg); }
    #name-wheel .letter#even5 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 224deg); }
    #name-wheel .letter#odd5 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 220deg); }
    #name-wheel .letter#even6 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 232deg); }
    #name-wheel .letter#odd6 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 228deg); }
    #name-wheel .letter#even7 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 240deg); }
    #name-wheel .letter#odd7 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 236deg); }
    #name-wheel .letter#even8 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 248deg); }
    #name-wheel .letter#odd8 {
      transform: translateX(-50%) rotate3d(0, 0, 1, 244deg); }
  #name-wheel.stage-0, #name-wheel.stage-1 {
    transition-duration: 250ms !important; }

#name-obscurer {
  position: absolute;
  height: 660px;
  width: 660px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 330px solid transparent;
  border-bottom-color: #fff; }

#flash-message-holder {
  position: fixed;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 1080px;
  width: calc(100% - 40px); }
  #flash-message-holder .flash-message {
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 5px 8px #00000088;
    pointer-events: none;
    opacity: 1;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms; }
    #flash-message-holder .flash-message span {
      display: none;
      color: #fff;
      float: left;
      margin-right: 20px; }
    #flash-message-holder .flash-message.success {
      background-color: #0F6B05; }
      #flash-message-holder .flash-message.success #icon-success {
        display: block; }
    #flash-message-holder .flash-message.notice {
      background-color: #e9a351; }
      #flash-message-holder .flash-message.notice #icon-notice {
        display: block; }
    #flash-message-holder .flash-message.error {
      background-color: #650D1B; }
      #flash-message-holder .flash-message.error #icon-error {
        display: block; }
    #flash-message-holder .flash-message.hidden {
      opacity: 0; }
    #flash-message-holder .flash-message::after {
      content: attr(message);
      font-weight: bold; }

.header-button {
  height: 60px;
  width: 60px;
  border: 1px solid white;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  position: relative; }
  .header-button .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-align: center;
    -webkit-transition: -webkit-transform 300ms;
    -moz-transition: -moz-transform 300ms;
    -o-transition: -o-transform 300ms;
    transition: transform 300ms; }
    .header-button .icon span.fa {
      font-size: 40px;
      line-height: 60px;
      -webkit-transition: -webkit-transform 300ms;
      -moz-transition: -moz-transform 300ms;
      -o-transition: -o-transform 300ms;
      transition: transform 300ms; }
  .header-button .corner {
    height: 100%;
    width: 100%;
    background-color: white;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    -webkit-transition: top 300ms, right 300ms, bottom 300ms, left 300ms;
    -moz-transition: top 300ms, right 300ms, bottom 300ms, left 300ms;
    -o-transition: top 300ms, right 300ms, bottom 300ms, left 300ms;
    transition: top 300ms, right 300ms, bottom 300ms, left 300ms; }
    .header-button .corner.t {
      bottom: 125%; }
    .header-button .corner.r {
      left: 125%; }
    .header-button .corner.b {
      top: 125%; }
    .header-button .corner.l {
      right: 125%; }
  .header-button.lock .icon {
    -webkit-transform: translate(-50%, -75%);
    -moz-transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -75%);
    -o-transform: translate(-50%, -75%);
    transform: translate(-50%, -75%); }
  .header-button:hover {
    cursor: pointer; }
    .header-button:hover span.fa {
      transform: rotateZ(180deg); }
  .header-button.close span.fa-cog {
    transform: rotateZ(180deg) scale(4); }
  .header-button.close .corner.t {
    bottom: 80%; }
  .header-button.close .corner.r {
    left: 80%; }
  .header-button.close .corner.b {
    top: 80%; }
  .header-button.close .corner.l {
    right: 80%; }

label {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer; }

.button {
  background-color: white;
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  transition: opacity 300ms; }
  .button.hidden {
    display: none; }
  .button.disabled {
    opacity: 0;
    cursor: default; }
  .button.symbol {
    background-color: transparent;
    font-size: 60px;
    width: 100px;
    position: relative; }
    .button.symbol span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: -webkit-transform 300ms, color 300ms;
      -moz-transition: -moz-transform 300ms, color 300ms;
      -o-transition: -o-transform 300ms, color 300ms;
      transition: transform 300ms, color 300ms;
      color: #fff; }
      .button.symbol span.pos-main {
        -webkit-transform: translate(-50%, -50%) scale(1);
        -moz-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
        -o-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        text-shadow: 0 -2px 0 #335fa3, 2px 0 0 #335fa3, 0 2px 0 #335fa3, -2px 0 0 #335fa3, -2px -2px 0 #335fa3, 2px -2px 0 #335fa3, -2px 2px 0 #335fa3, 2px 2px 0 #335fa3; }
    .button.symbol:hover span.pos-main {
      -webkit-transform: translate(-50%, -50%) scale(1.1);
      -moz-transform: translate(-50%, -50%) scale(1.1);
      -ms-transform: translate(-50%, -50%) scale(1.1);
      -o-transform: translate(-50%, -50%) scale(1.1);
      transform: translate(-50%, -50%) scale(1.1);
      color: #e9a351; }

.save-load-section {
  text-align: center; }
  .save-load-section .selection-button.disabled {
    opacity: .5; }

.select-strip {
  margin: 0 auto 50px;
  text-align: center; }
  .select-strip label {
    padding: 5px;
    display: inline-block;
    width: auto;
    height: 70px;
    font-weight: normal;
    -webkit-transition: font-size 300ms, font-weight 300ms, -webkit-transform 300ms;
    -moz-transition: font-size 300ms, font-weight 300ms, -moz-transform 300ms;
    -o-transition: font-size 300ms, font-weight 300ms, -o-transform 300ms;
    transition: font-size 300ms, font-weight 300ms, transform 300ms;
    text-align: center;
    line-height: 70px;
    position: relative; }
    .select-strip label.lock-width {
      width: 70px; }
    .select-strip label.extra {
      width: 140px; }
    .select-strip label[data-info]::after {
      content: attr(data-info);
      background-color: #000000CC;
      position: absolute;
      padding: 5px;
      border-radius: 3px;
      top: 100%;
      right: 100%;
      width: auto;
      min-width: 200px;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: opacity 300ms;
      -moz-transition: opacity 300ms;
      -o-transition: opacity 300ms;
      transition: opacity 300ms;
      font-size: 12px;
      z-index: 100; }
      .select-strip label[data-info]::after:empty {
        display: none; }
    .select-strip label[data-info]:hover::after {
      -webkit-transition-delay: 1000ms;
      -moz-transition-delay: 1000ms;
      -o-transition-delay: 1000ms;
      transition-delay: 1000ms;
      opacity: 1; }
  .select-strip#team-members label, .select-strip#options label {
    width: auto; }
  .select-strip input[type="radio"] {
    display: none; }
    .select-strip input[type="radio"]:checked + label {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
  .select-strip input[type="checkbox"] {
    display: none; }
    .select-strip input[type="checkbox"] + label {
      padding: 5px;
      font-size: 16px;
      background-color: #d9643e;
      opacity: 0.5;
      border-radius: 5px;
      line-height: 16px;
      height: 30px;
      margin: 5px;
      transition: opacity 300ms; }
    .select-strip input[type="checkbox"].option-checkbox + label {
      background-color: #650D1B;
      opacity: 1; }
    .select-strip input[type="checkbox"].option-checkbox:checked + label {
      background-color: #0F6B05; }
    .select-strip input[type="checkbox"]:checked + label {
      opacity: 1; }
  .select-strip input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: calc(100% - 100px);
    border-radius: 6px;
    overflow: hidden;
    background-color: transparent; }
    .select-strip input[type=range]:focus {
      outline: none; }
    .select-strip input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 15px;
      cursor: pointer;
      background: #d9643e88;
      border-radius: 7.5px; }
    .select-strip input[type=range]::-webkit-slider-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #335fa3;
      cursor: pointer;
      -webkit-appearance: none;
      box-shadow: -1080px 0 0 calc(1080px - 7.5px) #d9643e; }
    .select-strip input[type=range]:focus::-webkit-slider-runnable-track {
      background: #d9643e88; }
    .select-strip input[type=range]::-moz-range-track {
      width: 100%;
      height: 15px;
      cursor: pointer;
      background: #d9643e88;
      border-radius: 7.5px; }
    .select-strip input[type=range]::-moz-range-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #335fa3;
      cursor: pointer; }
    .select-strip input[type=range]::-ms-track {
      width: 100%;
      height: 15px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent; }
    .select-strip input[type=range]::-ms-fill-lower {
      background: #d9643e88;
      border-radius: 2.6px; }
    .select-strip input[type=range]::-ms-fill-upper {
      background: #d9643e88;
      border-radius: 2.6px; }
    .select-strip input[type=range]::-ms-thumb {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background: #335fa3;
      cursor: pointer; }
    .select-strip input[type=range]:focus::-ms-fill-lower {
      background: #d9643e88; }
    .select-strip input[type=range]:focus::-ms-fill-upper {
      background: #d9643e88; }

.selection-button {
  background-color: #335fa3;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 5px;
  color: #d9643e;
  margin: 5px;
  cursor: pointer; }
  .selection-button.hidden {
    display: none; }
  .selection-button.superhidden {
    display: none; }

.edit-button {
  background-color: transparent;
  display: inline-block;
  margin: 0 auto;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  margin: 5px;
  cursor: pointer; }

#mute-input {
  display: none; }
  #mute-input:checked + .icon {
    -webkit-transform: translate(-50%, -75%);
    -moz-transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -75%);
    -o-transform: translate(-50%, -75%);
    transform: translate(-50%, -75%); }

input[type="text"] {
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px;
  color: #d9643e;
  border: 1px solid #0F6B05;
  min-width: 300px; }

#meeting-name-input {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: bold;
  color: #0F6B05; }

.edit-team-member {
  color: #0F6B05;
  font-weight: bold;
  margin-bottom: 5px; }

#duration-display {
  font-size: 30px; }
  #duration-display span {
    color: #e9a351; }

.remove {
  background-color: #650D1B;
  border-radius: 50%;
  color: #fff;
  margin-right: 10px;
  padding: 2px 3px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  transition: transform 300ms; }
  .remove:hover {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    -moz-transform: rotate3d(0, 0, 1, 180deg);
    -ms-transform: rotate3d(0, 0, 1, 180deg);
    -o-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg); }

#save-settings-button {
  background-color: #d9643e;
  color: #fff; }

.tab-holder .tab-buttons .tab-button {
  float: left;
  padding: 5px;
  background-color: #335fa3;
  color: #d9643e;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
  text-align: center; }

.tab-holder .tab.hidden {
  display: none; }

#register-display {
  margin-top: 20px;
  border: 2px solid #888;
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  -o-transition: border-color 300ms;
  transition: border-color 300ms; }
  #register-display.lozenge:after {
    content: attr(code);
    padding: 10px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    background-color: #888;
    position: absolute;
    left: 30px;
    top: -18px; }
    #register-display.lozenge:after:empty {
      display: none; }
  #register-display:not(.connected) ~ #close-registration {
    display: none; }
  #register-display.connected {
    border-color: #fff; }
    #register-display.connected:after {
      background-color: #335fa3; }
    #register-display.connected.open {
      border-color: #335fa3; }

.register-lozenge {
  background-color: #d9643e;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  color: #fff;
  margin: 5px; }
  .register-lozenge.hidden {
    display: none; }

.register-holder {
  position: relative; }
  .register-holder .selection-button {
    position: absolute;
    right: 30px;
    bottom: -18px;
    color: #fff; }
    .register-holder .selection-button#close-registration {
      background-color: #650D1B; }

#use-register {
  position: absolute;
  right: 20px; }

.timer {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  background-color: #fff;
  margin: 0 auto;
  position: relative; }
  .timer .hand-holder {
    overflow: hidden;
    width: 250px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 250px;
    border-bottom-left-radius: 250px; }
    .timer .hand-holder .hand {
      background-color: #d9643e;
      display: block;
      width: 250px;
      height: 500px;
      transform-origin: right center; }
    .timer .hand-holder.right {
      top: 50%;
      left: 50%;
      border-radius: 0;
      border-top-right-radius: 250px;
      border-bottom-right-radius: 250px; }
      .timer .hand-holder.right .hand {
        transform-origin: left center; }
  .timer .hand.fade {
    opacity: .5; }
  .timer .timer-display {
    position: absolute;
    top: 100%;
    left: 50%;
    font-weight: bold;
    color: #28345f;
    font-size: 50px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    .timer .timer-display.red {
      color: #d9643e !important; }
    .timer .timer-display.green {
      color: #0F6B05 !important; }
  .timer #start-button,
  .timer #pause-button,
  .timer #end-button,
  .timer #next-button,
  .timer #pep-button,
  .timer #reset-button {
    color: #d9643e;
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: -webkit-transform 300ms;
    -moz-transition: -moz-transform 300ms;
    -o-transition: -o-transform 300ms;
    transition: transform 300ms; }
  .timer #reset-button {
    color: #888;
    background-color: #650D1B; }
  .timer #pep-button {
    background-color: #d9643e;
    color: #fff; }
    .timer #pep-button.spinning {
      display: none; }
  .timer:not(.pause) #pause-button:not(.paused) {
    display: none; }
  .timer.pause #end-button,
  .timer.pause #next-button {
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%); }
  .timer.pause.end #pause-button {
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%); }
  .timer:not(.skip) #next-button {
    display: none; }
  .timer:not(.pep) #pep-button {
    display: none; }
  .timer.skip #pause-button {
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%); }
    .timer.skip #pause-button.paused {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
  .timer .backing {
    height: 370px;
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 50%; }
  .timer#sub-timer {
    height: 350px;
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .timer#sub-timer .hand-holder {
      width: 175px;
      height: 350px; }
      .timer#sub-timer .hand-holder .hand {
        width: 175px;
        height: 350px;
        background-color: #335fa3; }
    .timer#sub-timer .timer-display {
      position: absolute;
      top: 50%;
      left: 50%;
      font-weight: bold;
      color: #e9a351;
      font-size: 130px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }

#team-remaining {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #e9a351; }

.active-team-list {
  position: absolute; }
  .active-team-list .team-button {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #335fa3;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    transition: color 300ms, background-color 300ms, text-decoration 300ms, opacity 300ms;
    position: relative; }
    .active-team-list .team-button::before {
      content: '';
      width: 0;
      height: 3px;
      background-color: #fff;
      display: block;
      position: absolute;
      top: 50%;
      left: 15px;
      transition: background-color 300ms, width 300ms; }
    .active-team-list .team-button.active {
      background-color: #d9643e;
      color: #fff; }
    .active-team-list .team-button.done {
      color: #d9643e; }
      .active-team-list .team-button.done::before {
        width: calc(100% - 30px);
        background-color: #d9643e; }
      .active-team-list .team-button.done::after {
        content: attr(data-time);
        left: calc(100% + 5px);
        position: absolute; }
      .active-team-list .team-button.done.time-red {
        background-color: #650D1B;
        color: #fff;
        text-decoration: none; }
        .active-team-list .team-button.done.time-red::before {
          background-color: #fff; }
        .active-team-list .team-button.done.time-red::after {
          color: #650D1B; }
      .active-team-list .team-button.done.time-green {
        background-color: #0F6B05 !important;
        color: #fff;
        text-decoration: none; }
        .active-team-list .team-button.done.time-green::before {
          background-color: #fff; }
        .active-team-list .team-button.done.time-green::after {
          color: #0F6B05 !important; }
      .active-team-list .team-button.done.highlight {
        background-color: #e9a351 !important;
        color: #000 !important; }
        .active-team-list .team-button.done.highlight::before {
          opacity: 0; }
  .active-team-list#left-list {
    left: 0; }
  .active-team-list#right-list {
    left: initial;
    right: 0; }
    .active-team-list#right-list .team-button::after {
      left: initial;
      right: calc(100% + 5px); }

#main-display {
  color: #d9643e;
  opacity: 1;
  -webkit-transition: color 300ms, -webkit-transform 300ms, opacity 300ms, font-size 300ms, padding 300ms, border-color 300ms;
  -moz-transition: color 300ms, -moz-transform 300ms, opacity 300ms, font-size 300ms, padding 300ms, border-color 300ms;
  -o-transition: color 300ms, -o-transform 300ms, opacity 300ms, font-size 300ms, padding 300ms, border-color 300ms;
  transition: color 300ms, transform 300ms, opacity 300ms, font-size 300ms, padding 300ms, border-color 300ms;
  margin: 0;
  padding: 20px;
  border: 2px solid #d9643e;
  border-radius: 10px;
  position: relative; }
  #main-display.green {
    color: #0F6B05;
    font-size: 60px;
    border-color: #0F6B05;
    padding: 10px 20px; }
  #main-display.yellow {
    color: #e9a351;
    border-color: #e9a351; }
  #main-display.red {
    color: #650D1B;
    border-color: #650D1B; }
  #main-display.orange {
    color: #d9643e;
    border-color: #d9643e; }
  #main-display.blue {
    color: #335fa3;
    border-color: #335fa3; }
  #main-display.hidden {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    transform: translateY(-300px); }
  #main-display span {
    display: block;
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: -moz-transform 500ms;
    -o-transition: -o-transform 500ms;
    transition: transform 500ms; }
  #main-display:before {
    content: attr(label);
    background-color: #fff;
    position: absolute;
    padding: 5px;
    top: -17px;
    font-size: 16px;
    left: 10px;
    overflow: hidden;
    max-width: 250px;
    white-space: nowrap;
    -webkit-transition: color 300ms, max-width 300ms, padding 300ms;
    -moz-transition: color 300ms, max-width 300ms, padding 300ms;
    -o-transition: color 300ms, max-width 300ms, padding 300ms;
    transition: color 300ms, max-width 300ms, padding 300ms; }
  #main-display.change span {
    -webkit-transform: translateX(100vw);
    -moz-transform: translateX(100vw);
    -ms-transform: translateX(100vw);
    -o-transform: translateX(100vw);
    transform: translateX(100vw); }
  #main-display.reset span {
    -webkit-transition: -webkit-transform 0;
    -moz-transition: -moz-transform 0;
    -o-transition: -o-transform 0;
    transition: transform 0;
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
    transform: translateX(-100vw); }
  #main-display.change-label:before {
    max-width: 0;
    color: #fff; }

#team-display {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  overflow: scroll;
  max-width: 380px;
  width: 100%; }
  #team-display .team-button {
    width: 100%;
    margin: 10px 0; }
  #team-display:not(.active) .team-button {
    background-color: #888;
    cursor: default;
    opacity: 0.5; }

.input-holder.hidden {
  display: none; }

#join-modal:before {
  background-color: #00000055; }

#join-modal .container {
  background: linear-gradient(#000000CC, #000000CC), url("../../images/pattern.png");
  color: #fff; }
  #join-modal .container input[type="text"] {
    background-color: transparent;
    border: 2px solid #888;
    text-align: center;
    color: #888;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    -webkit-transition: border-color 300ms, color 300ms;
    -moz-transition: border-color 300ms, color 300ms;
    -o-transition: border-color 300ms, color 300ms;
    transition: border-color 300ms, color 300ms; }
    #join-modal .container input[type="text"]:-ms-input-placeholder {
      font-weight: normal;
      text-transform: capitalize;
      -webkit-transition: color 300ms;
      -moz-transition: color 300ms;
      -o-transition: color 300ms;
      transition: color 300ms; }
    #join-modal .container input[type="text"]:-moz-placeholder {
      font-weight: normal;
      text-transform: capitalize;
      -webkit-transition: color 300ms;
      -moz-transition: color 300ms;
      -o-transition: color 300ms;
      transition: color 300ms; }
    #join-modal .container input[type="text"]::-moz-placeholder {
      font-weight: normal;
      text-transform: capitalize;
      -webkit-transition: color 300ms;
      -moz-transition: color 300ms;
      -o-transition: color 300ms;
      transition: color 300ms; }
    #join-modal .container input[type="text"]::-webkit-input-placeholder {
      font-weight: normal;
      text-transform: capitalize;
      -webkit-transition: color 300ms;
      -moz-transition: color 300ms;
      -o-transition: color 300ms;
      transition: color 300ms; }
    #join-modal .container input[type="text"]:focus {
      border-color: #bbb;
      color: #bbb; }
      #join-modal .container input[type="text"]:focus:-ms-input-placeholder {
        color: #bbb; }
      #join-modal .container input[type="text"]:focus:-moz-placeholder {
        color: #bbb; }
      #join-modal .container input[type="text"]:focus::-moz-placeholder {
        color: #bbb; }
      #join-modal .container input[type="text"]:focus::-webkit-input-placeholder {
        color: #bbb; }
    #join-modal .container input[type="text"]:valid {
      border-color: #fff;
      color: #fff; }
    #join-modal .container input[type="text"]#meeting-code-input {
      text-transform: uppercase; }
  #join-modal .container .button {
    background-color: #d9643e; }
